.App {
  text-align: center;
}

.App-header {
  background-color: #4d1136;
  min-height: 94vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.content {
  background-color: #4d1136;
  color: white;
  min-height: 32vh;
}

.nav-item {
  margin-right: 10px;
}

.current {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.search-bar {
  min-height: 50vh;
}

.card-body {
  color: black;
  font-size: 13px;
}
.card {
  width: 300px;
  display: inline-block;
}

.search-result {
  margin: 20px 0;
}
