body {
  text-align: center;
  background-color: #4d113649;
}

.App-header {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.content {
  color: white;
  min-height: 32vh;
}

.nav-item {
  margin-right: 10px;
}

.current {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.welcome-txt {
  margin: 10px;
  font-style: italic;
}

.card {
  width: 220px;
  height: 420px;
  display: inline-block;
  margin-bottom: 30px;
}

.card-img-top {
  width: 200px;
  height: 300px;
  margin-top: 5px;
}

.card-title {
  color: black;
  font-size: 13px;
}

.card-body {
  color: black;
  display: flex;
  flex-direction: column;
}

.btn-outline-dark {
  width: 100%;
  margin-top: auto;
}

.search-result {
  margin: 20px 0;
}

.list-book {
  width: 90%;
  height: 120px;
}

.btn-outline-danger {
  display: inline-block;
}
